
<div style="overflow: none;" *ngFor="let itemCloth of listOfClothesItem | paginate: {itemsPerPage: 10,currentPage: page, totalItems: totalLength }; index as i" class="column">
  <img src="{{itemCloth.path}}" style="height: 300px; width: 280px; padding: 4px;">
  <h2 style="margin-left: 15px;">{{itemCloth.title}}
    <i class="fa fa-heart-o" style="font-size:24px; margin-left: 25px; "></i>
  </h2>
  <span style="margin-left: 15px;">{{itemCloth.brand}}
   <button mat-raised-button *ngIf="!itemCloth.isCartVisible" #focus style="margin-left: 65px;" (click)="addToCart(itemCloth)">{{itemCloth.addToCloth}} </button>
  </span>
      <span class="example-button-container" style="margin-left: 50px; position: absolute;"  *ngIf="itemCloth.isCartVisible">
      <button mat-mini-fab color="accent" (click)="onAdd(itemCloth, i)" aria-label="Example icon button with a plus one icon">+</button>&nbsp;&nbsp;
      <span style="margin-top: 5px;"> {{itemCloth.itemAdd}} </span>&nbsp;
      &nbsp;
      <button mat-mini-fab color="accent" (click)="onSubtract(itemCloth, i)"
        aria-label="Example icon button with a plus one icon">-</button>
    </span>
  </div>
  <!-- <app-clothes-detail></app-clothes-detail> -->
  <div>
    <pagination-controls class="my-pagination"
    style="background-color: rgb(151, 68, 68); color: grey; margin-left: 545px;"
    previousLabel="Previous"
    nextLabel="Next"
    screenReaderPaginationLabel="Pagination"
    screenReaderPageLabel="page"
    screenReaderCurrentLabel="You're on page"
    (pageChange)="page= $event"></pagination-controls>
</div>
