<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <img class="float-img" src="../../assets/./images/shopifyApp.png">&nbsp; &nbsp;
    <span class="navbar-brand mb-0 h1">Shopify App</span>
    <div class="search-bar">
      <input type="text" placeholder="Search..." name="search">
      <i style="color: black; margin-left: 10px;" class="fa fa-search icon"></i>
    </div>
    <mat-icon class="theme-icon" (click)="toggleDarkTheme()"aria-hidden="false"
    aria-label="Example home icon">brightness_6</mat-icon>
    <button class="btn-login" (click)="loginTo()">Login</button>
    <button class="btn-register" (click)="newRegister()">Register</button>
  </div>
</nav>
