<!-- Footer

<!-- Footer -->
<!-- /**
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <footer class="page-footer font-small blue">
      <!-- Copyright -->
      <!-- <div class="footer-copyright text-center py-3">© 2020 Copyright: -->
        <!-- <a href="https://mdbootstrap.com/"> MDBootstrap.com</a> -->
      <!-- </div>  -->
      <!-- Copyright -->
    <!-- </footer>
  </div>
</nav> -->



<!-- Footer -->
<!-- <footer class="page-footer font-small special-color-dark pt-4"> -->

  <!-- Footer Elements -->
  <!-- <div class="container"> -->

    <!-- Social buttons -->
    <!-- <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <i class="fab fa-facebook-f"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <i class="fab fa-twitter"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-gplus mx-1">
          <i class="fab fa-google-plus-g"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <i class="fab fa-linkedin-in"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1">
          <i class="fab fa-dribbble"> </i>
        </a>
      </li>
    </ul> -->
    <!-- Social buttons -->

  <!-- </div> -->
  <!-- Footer Elements -->


  <footer class="footer-distributed">

    <div class="footer-left">
        <img  class="float-img-size" src="../../assets/images/shopifyApp.png">
      <h3>About<span>Shopify</span></h3>

      <p class="footer-links">
        <a href="#">Home</a>
        |
        <a href="#">Blog</a>
        |
        <a href="#">About</a>
        |
        <a href="#">Contact</a>
      </p>

      <p class="footer-company-name">© 2019 Eduonix Learning Solutions Pvt. Ltd.</p>
    </div>

    <div class="footer-center">
      <div>
        <i class="fa fa-map-marker"></i>
          <p><span>309 - Rupa Solitaire,
           Bldg. No. A - 1, Sector - 1</span>
          Mahape, Navi Mumbai - 400710</p>
      </div>

      <div>
        <i class="fa fa-phone"></i>
        <p>+91 22-27782183</p>
      </div>
      <div>
        <i class="fa fa-envelope"></i>
        <p><a href="mailto:support@eduonix.com">support@eduonix.com</a></p>
      </div>
    </div>
    <div class="footer-right">
      <p class="footer-company-about">
        <span>About the company</span>
        We offer training and skill building courses across Technology, Design, Management, Science and Humanities.</p>
      <div class="footer-icons">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-youtube"></i></a>
      </div>
    </div>
  </footer>
