<app-main-header></app-main-header>
<mat-spinner class="spinner" *ngIf="showFlagSpinner"></mat-spinner>

<mat-grid-list class="dashboard-grid-list" [cols]="dashBoardGridCol" gutterSize="10px"  rowHeight="100px" *ngIf="!showFlagSpinner">
  <mat-grid-tile matRipple fxLAyoutAlign="start stretch"  (click)="myOrders()" matTooltip="My Orders" class="dashboard-tile colorful-tile bg-sky" fxLayout="row" >
    <div fxLayout="column" fxLayoutAlign="start center">
      <mat-icon>list_alt</mat-icon>
    </div>&nbsp; &nbsp;
    <div fxLayoutAlign="start">
      <b>My Orders</b>
    </div>
  </mat-grid-tile>

  <mat-grid-tile (click)="myFav()"  matTooltip="My WhishList" matRipple class="dashboard-tile colorful-tile bg-pink" fxLAyoutAlign="start stretch"  fxLayout="row">
    <div class="ml-10" fxLayout="column" fxLayoutAlign="start center">
      <mat-icon>favorite</mat-icon>
    </div>&nbsp; &nbsp;

    <!-- <mat-spinner class="spinner" *ngIf="showFlagSpinner"></mat-spinner> -->
    <div fxLayoutAlign="start">
     <b>My WishList</b>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<div *ngIf="!showFlagSpinner">
  <div *ngIf="defaultFlag">
    <div class="center">
      <img style="height: 300px; width: 300px;" src="https://rukminim1.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90" alt="">
      <h4> Check Your Orders and Your WhishList Here !</h4>
      <button routerLinkActive="active" (click)="myOrders()" class="btn btn-primary">My Orders</button>
    </div>
  </div>
</div>

<div *ngIf="flag">
  <mat-grid-list class="dashboard-grid-list-Orders" cols="1" gutterSize="20px" rowHeight="150px">
    <mat-grid-tile @fade fxLAyoutAlign="start stretch" class="dashboard-tile colorful-tile" fxLayout="row" *ngFor="let item of products">
  <div class="column-1"><img src="{{item.path}}" alt="Img" style=" margin-left: 50px; height: 120px; width: 120px;"></div>
  <div class="column-2">
    <h4> <b>{{item.title}}</b></h4>
    <p class="grey-color"> Color: {{item.color}}</p>
    <p class="grey-color"> Seller:{{item.seller}}</p>
  </div>
  <div class="column-3">
    <p>{{item.price}}</p>
  </div>
  <div class="column-4">
    <h4><b>Deliver on Mon Apr 25</b></h4>
    <p style="font-size: small;">Your Item has been delivered </p>
    <p class="blue-color"> Rate & Review Product </p>
  </div>
  </mat-grid-tile>
</mat-grid-list>
</div>

<!-- <div class="input-box" *ngIf="myWhishList && products.length !==0">
  <input value="" autofocus="autofocus" autocomplete="off" (keyup)="applyFilter($event)" placeholder="Search Selection" />
  <span class="unit"><mat-icon matSuffix>search</mat-icon></span>
</div> -->


<div class="example-container mat-elevation-z8" *ngIf="myWhishList && products.length !==0  else elseBlock">
  <table [matSortDirection]="sortDirection" @fade [matSortActive]="sortColumn" mat-table matSort (matSortChange)="sortChange($event)" [dataSource]="dataSource" tabindex="0">
    <!-- Title Column-->
    <ng-container matColumnDef="title">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Title </th>
      <td #td mat-cell *matCellDef="let item" class="w-25"> {{item.title}} </td>
    </ng-container>

    <!-- Image Column -->
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef> Item Image </th>
      <td mat-cell *matCellDef="let item" class="w-25"><img style="width: 120px; height: 100px;" src="{{item.path}}" alt="Image"></td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell  mat-sort-header *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let item" class="w-25"> {{item.description}} </td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let item" class="w-25"> {{item.price}} </td>
    </ng-container>

    <!-- Remove Column -->
    <ng-container matColumnDef="remove">
      <th mat-header-cell *matHeaderCellDef> Remove </th>
      <td mat-cell *matCellDef="let item; let i = index" class="w-25">
        <button class="btn btn-danger" (click)="removeItem(item, i)"><i class="fa fa-trash" aria-hidden="true"></i></button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

  <div>
    <!-- <mat-paginator [length]="100"
              [pageSize]="5"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
</mat-paginator>  -->
    <!-- <mat-paginator class="pagination-btn" showFirstLastButtons [length]="pageLength" [pageSize]="5"
      [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
    </mat-paginator> -->
 </div>

<ng-template #elseBlock>
  <div *ngIf="myWhishList">
    <div class="center">
      <img style="height: 300px; width: 300px;" src="https://rukminim1.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90" alt="">
      <h4> No Item in WhishList ! Add Now</h4>
      <button routerLinkActive="active" (click)="myOrders()" class="btn btn-primary">Shop Now</button>
    </div>
  </div>
</ng-template>

<app-footer></app-footer>
