<app-main-header [userName]="fullName"></app-main-header>
<mat-spinner class="spinner" *ngIf="showFlagSpinner"></mat-spinner>
<div class="card" *ngIf="!showFlagSpinner">
  <div class="card-component">
    <h1>Personal Information</h1>
    <mat-divider></mat-divider>

    <div class="text-input" style="margin-top: 15px;">
      <input style=" margin: 0px; width: 250px; height: 40px;"  [readonly]="flagName" autocomplete="true" [(ngModel)]="firstName" #input placeholder="First Name" type="text">&nbsp;&nbsp;&nbsp;
      <input style="width: 150px; height: 40px;" placeholder="Last Name" [readonly]="flagName" [(ngModel)]="lastName" type="text">&nbsp;&nbsp;&nbsp;
      <button mat-stroked-button color="primary" (click)="nameChange()">{{editingName === true ? "Save": "Edit"}}</button>
    </div>
    <div style="margin-top: 25px;">
      <h1> Your Gender</h1>
      <mat-divider></mat-divider>
      <div style="margin-top: 15px;">
        <span class="checkBoxedMale"><input type="radio" >Male</span> &nbsp; &nbsp; &nbsp;
        <span class="checkBoxedMale"><input type="radio" >Female</span>
      </div>
    </div>

    <div class="text-input" style="margin-top: 30px;">
      <h1>Email Address</h1>
      <mat-divider></mat-divider>
      <div style="margin-top: 15px;">
        <input style="width: 250px; height: 40px;" [(ngModel)]="email"  [readOnly]="flagEmail" placeholder="Your Email Address" type="text" email>&nbsp;&nbsp;&nbsp;
        <button mat-stroked-button color="primary"  (click)="emailChange()">{{editingEmail === true ? "Save": "Edit"}}</button> &nbsp; &nbsp; &nbsp;
        <button mat-stroked-button color="primary">Change Password</button>
      </div>
    </div>

    <div class="text-input" style="margin-top: 30px;">
      <h1>Mobile Number</h1>
      <mat-divider></mat-divider>
      <div style="margin-top: 15px;">
        <input style="width: 250px; height: 40px;"  [(ngModel)]="phoneNumber" [readOnly]="flagNumber" placeholder="Your Mobile Number" type="number">&nbsp;&nbsp;&nbsp;
        <button mat-stroked-button color="primary"   (click)="numberChange()">{{editingNumber === true ? "Save": "Edit"}}</button>
      </div>
    </div>

  <div style="margin-top: 40px;">
      <h1 style="font-size: x-large; font-weight: 500;">FAQs</h1>
    <div style="margin-top: 20px; font-weight: 400; word-wrap: break-word;">
      <span *ngFor="let item of faqList">
       {{item}}<br><br>
      </span>
    </div>
  </div>

   <div style="margin-top: 15px;">
    <h1 style="font-weight: 500;">Comment</h1>
    <textarea matInput rows="20" cols="90" cdkTextareaAutosize  cdkAutosizeMinRows="5"  cdkAutosizeMaxRows="10"
      placeholder="Type Your Comment..."></textarea>
      <!-- <quill-editor  style="font-family:Roboto;" data-font-fetch="Roboto" placeholder="Insert Your Text Here..."
      aria-placeholder="Insert Your Text..."  (onEditorCreated)="addBindingCreated($event)" [modules]="module" trackChanges="all" [style]="{height: '80px'}"></quill-editor> -->
    </div>
  </div>
</div>

<!-- <app-footer></app-footer> -->
