
/* .search-text{
  border: 1px solid #d7d6d6;
  background: #fff;
  border-radius: 20px;
  width: 100%;
  outline: none;
  box-shadow: 5px 5px 5px darkgrey;
  text-align: left;
} */

.btn-login:hover{
  background-color: lightslategray;
  color: black;
}

.btn-register{
  font-size: medium;
  color: black;
  cursor: pointer;
  border: 1px solid black;
}

.btn-register:hover{
  background-color: lightslategrey;
  color: black;
}

.search-bar .i{
  transform: scale(1.0);
}


.btn-login{
  font-size: medium;
  color: black;
  border: 1px solid black;
  cursor: pointer;
}

::ng-deep .mat-form-field-underline {
  display: none;
}

::ng-deep.mat-select-arrow {
  display: none;
}
