<div class="card">
  <img [src]="url" alt="Avatar" style="width:100px; height: 100px; margin-top: 10px;">
  <button mat-button class="font-size-12 file-upload" style="margin-top:10px !important" onclick="document.getElementById('getFile').click()">
    {{'Upload Image' | translate}}
  </button>

<input type="file" id="getFile" style="display:none" accept="image/jpeg, image/png"  (change)="onSelectFile($event)" />
  <div class="card-item">
    <h3>Hello, {{name | titlecase}}</h3>
    <mat-divider [inset]="true"></mat-divider>
  </div>
</div>


<!-- <label class="hoverable" for="fileInput">
  <img [src]="url ? url : 'https://www.w3schools.com/howto/img_avatar.png'">
  <div class="hover-text">Choose file</div>
  <div class="background"></div>
</label>
<br/>
<input id="fileInput" type='file' (change)="onSelectFile($event)">
<button *ngIf="url" (click)="delete()" >delete</button> -->


<div class="card-layout-design" *ngFor="let components of component; let i = index">
  <div class="card-layout-design-text" (click)="navigateComponent(i)">
  <span class="material-icons common" type="file" (click)="onSelectFile($event)">{{components.icon}}</span>
    {{components.key}}
  <span class="material-icons">arrow_right</span>
  </div>
  <mat-divider></mat-divider>
</div>


