<!-- <p>my-account works!</p> -->
<div class="card">
  <img src="../../assets/Icons/user.png" alt="Avatar" style="width:100px; height: 100px;">
  <div class="card-item"    >
    <h3>Hello, {{'Gaurav'}}</h3>
    <mat-divider [inset]="true"></mat-divider>
  </div>
</div>

<!--
<label class="hoverable" for="fileInput">
  <img [src]="url ? url : 'https://www.w3schools.com/howto/img_avatar.png'">
  <div class="hover-text">Choose file</div>
  <div class="background"></div>
</label>
<br/>
<input id="fileInput" type='file' (change)="onSelectFile($event)">
<button *ngIf="url" (click)="delete()" >delete</button>
 -->

<div class="card-layout-design" >
  <div class="card-layout-design-text" (click)="onProfileData()">
  <span class="material-icons common" type="file" (click)="onSelectFile($event)">person</span>
    My Profile
  <span class="material-icons">arrow_right</span>
  </div>
  <mat-divider></mat-divider>
</div>

<div class="card-layout-design" >
  <div class="card-layout-design-text" (click)="myOrder()">
    <span class="material-icons common">airport_shuttle</span>
    My Orders
  <span class="material-icons">arrow_right </span>
  </div>
  <mat-divider></mat-divider>
</div>

<div class="card-layout-design" >
   <div class="card-layout-design-text" (click)="myPayment()">
    <span  class="material-icons common">account_balance_wallet</span>
    My Wallet
    <span class="material-icons">arrow_right</span>
   </div>
  <mat-divider></mat-divider>
</div>

