.accordion-style{
  border: 1px solid lightgrey;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  text-decoration: none;
  border-radius: 2px;
  background-color: rgb(231, 225, 225);
}

.mat-icon {
  transform: scale(1.5);
  height: 10px;
}

.mat-card:hover{
  /* background-color: #f1f1f1; */
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.content {
  padding: 16px;
}

.content > mat-card {
  width: 200px;
}
