<app-main-header></app-main-header>
<div fxLayout="row" fxLayoutAlign="space-between start" class="heading mt-15 ml-25">
  <h1> Get Your Favorite Products In One Click</h1>
</div>
<app-card-layout-product></app-card-layout-product>

<div fxLayout="column" class="mt-20" fxLayoutAlign="center space-between" fxLayoutGap="20px" fxLayout.lt-md="column">
<div>
 <mat-card>
  <mat-card-header>
    <mat-card-title>
        <h1>Our Mission</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-actions>
      <p style="margin-top: 5px; word-wrap: break-word; margin-left:20px;">
        E-commerce is revolutionizing the way we all shop in India. Why do you want to hop from one store to another in search of the latest phone when you can find it on the Internet in a single click ? Not only
        mobiles. Flipkart houses everything you can possibly imagine, from trending electronics like laptops, tablets, smartphones, and mobile accessories to in-vogue fashion staples like shoes, clothing and lifestyle
        accessories; from modern furniture like sofa sets, dining tables, and wardrobes to appliances that make your life easy like washing machines, TVs, ACs, mixer grinder juicers and other time-saving kitchen and
        small appliances; from home furnishings like cushion covers, mattresses and bedsheets to toys and musical instruments, we got them allcovered. You name it, and you can stay assured about finding them all here. For those of you with erratic working hours, Flipkart is your best bet. Shop in your PJs, at night or in the wee hours of the morning.
        This e-commerce never shuts down.
      </p>
    </mat-card-actions>
  </mat-card>
</div>
</div>

<div fxLayout="row" fxLayoutAlign="start space-between" class="mt-20" fxLayoutGap="10px"
 fxLayout.lt-md="column">

   <mat-card class="card" *ngFor="let item of content">
     <mat-card-header>
       <mat-card-title>
      <mat-icon [inline]="true">{{item.icon}}</mat-icon>
    </mat-card-title>
    <mat-card-subtitle>
      <h3 style="font-size: large;"> <b>{{item.text}}</b></h3>
      <div fxLayout="column" class="mt-20" fxLayoutAlign="start space-between">
        <p> {{item.value}}</p>
      </div>
    </mat-card-subtitle>
  </mat-card-header>
</mat-card>
</div>


<div class="mt-40" fxLayout="row" fxLayoutAlign="center space-between">
  <h4><b style="font-size: x-large;">FAQ's</b></h4>
</div>

<!-- #panelH (click)="panelH._toggle()" -->
<div fxLayout="column" fxLayoutAlign="center space-between" class="w-75" style="margin-left: 13%;">
<mat-accordion #accordion="matAccordion">
  <mat-expansion-panel autoFocus class="accordion-style"
  *ngFor="let item of faqList">
    <mat-expansion-panel-header collapsedHeight="*" expandedHeight="*"
    (afterCollapse)="afterPanelClosed($event)"
    (afterExpand)="afterPanelOpened($event)">
     <div class="w-100" fxLayout="row" fxLayoutAlign="space-between start"
      fxLayout.lt-md="column">
        <mat-panel-title fxFlex="1160%" fxFlex="11100%"
        fxLayout="row" fxLayoutAlign="start center">
        <!-- <mat-checkbox checked="checked" disabled></mat-checkbox> -->
        <div style="margin-left: 10px">
          {{item.key}}
        </div>
         <div>
          <!-- <mat-icon matPrefix class="text-align-left mat-expansion-panel-arrow-icons"
            *ngIf="item.includes(globalConstant.ProposedDenomination)"
            (click)="panelH._toggle()">keyboard_arrow_down
          </mat-icon> -->
        </div>
        </mat-panel-title>
        <mat-panel-description fxFlex="11140%" fxFlex="11100%">
         <!-- <mat-icon matSuffix class="pointer"[inline]="true">add</mat-icon> -->
        </mat-panel-description>
      </div>
    </mat-expansion-panel-header>
    <mat-divider></mat-divider>
    <p style="margin-left:10px; margin-top: 15px;">{{item.value}}</p>
  </mat-expansion-panel>
</mat-accordion>
</div>

<div fxLayoutAlign="center space-btween" fxLayout="row" class="mt-50">
  <h4><b style="font-size: x-large;">Top Brands </b></h4>
</div>

<div fxLayout="row" fxLayoutAlign="center space-between" class="mt-20" fxLayoutGap="30">
  <span *ngFor="let icon of iconsList">
    <mat-divider></mat-divider>
    <img src={{icon.src}} style="width: 80px; height:80px;">
    <mat-divider></mat-divider>
  </span>
</div>
<app-footer></app-footer>
