<app-header></app-header>

<div class="card">
  <div class="container">
    <div style="width:max-content; height: max-content">
      <img src="../../assets/Icons/deal.png" alt="Hot deals"   matTooltip="Hot Deals" class="icon-image1" style="margin-left: 20px;">
      <img src="../../assets/Icons/home-appliance.png"         matTooltip="Home Appliances" alt="Home Appliances" class="icon-image2" style="margin-left: 230px;">
      <img src="../../assets/Icons/fashion.png" alt="Fashion"  matTooltip="Fashion & Styles"  (click)="onClothes()"   class="icon-image3" style="margin-left: 250px;">
      <img src="../../assets/Icons/responsive.png" alt="Mobiles and Tablets"  matTooltip="Mobiles and Gadgets"  class="icon-image4" style="margin-left: 270px;">
      <img src="../../assets/Icons/toys.png" alt="Toys and Games" class="icon-image5"  matTooltip="Toys and Games"    style="margin-left: 300px;">
    </div>
  </div>
</div>

<div style="margin-top: 50px; justify-content: center; align-items: center; display: flex;">
  <h1>
    Welcome to My Website
  </h1>
</div>


<div class="custom-card">
  <div class="slider">
    <ng-image-slider #nav
    [images]="showSliderCart"
    [infinite]="false"
    [autoSlide]="1"
    [imageSize]="{width: '55%', height: 200}"
    slideImage="1">
  </ng-image-slider>
</div>
</div>

