
<form class="form-group" [formGroup]="login" (ngSubmit)="onSubmit()">
  <div class="alert alert-danger" *ngIf="isLoading">
    <p>{{error}}</p>
  </div>
  <div class="imgcontainer">
    <img src="../../assets/images/shopifyApp.png" alt="Avatar" class="avatar"><span class="heading" style="color: seagreen;">
     Shopify <span style="color: orange">App</span></span>
  </div>
  <mat-divider></mat-divider>
  <h3  class="margin"> Get access to your Orders,<br>Wishlist and Recommendation and much more !!!</h3>
  <div class="container">

    <mat-form-field appearance="outline" class="w-100" formLabel="auto" hideRequiredMarker>
      <input matInput autofocus autocomplete="off"  [errorStateMatcher]="customErrorStateMatcher"  formControlName="email" placeholder="Email" required>
      <mat-label>Email</mat-label>
      <mat-icon matSuffix>email</mat-icon>
      <mat-error class="error-pos" *ngIf="getFormControlName('email').hasError('required')" [innerHTML]="getErrorMessage('email', 'required')"></mat-error>
      <mat-error class="error-pos" *ngIf="getFormControlName('email').hasError('email')" [innerHTML]="getErrorMessage('email', 'email')"></mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100" formLabel="auto" hideRequiredMarker>
      <input  matInput placeholder="Password" [errorStateMatcher]="customErrorStateMatcher" formControlName="password"  autofocus autocomplete="off" minlength="8" required >
      <mat-label>Password</mat-label>
      <mat-icon matSuffix>password</mat-icon>
      <mat-error class="error-pos" *ngIf="getFormControlName('password').hasError('required')" [innerHTML]="getErrorMessage('password', 'required')"></mat-error>
    </mat-form-field>

   <h4 style="color: grey;">By creating an account you agree to our <a href="" style="color:dodgerblue">Terms & Privacy</a>.</h4>
  </div>

  <mat-chip-list>
    <mat-chip color="primary" (click)="onLogin()" [disabled]="!login.valid"  class="myBtn" type="submit" selected >Login</mat-chip><br>
    <div class="psw" style="margin-left: 41%; padding: 10px; font-weight: 500;">New to Shopify ?</div><br>
    <mat-chip color="accent" class="myBtn" type="submit" (click)="onSignUp()"selected >Create Your Account</mat-chip>
  </mat-chip-list>
</form>

<!-- <app-footer></app-footer> -->
