.dashboard-tile{

  border-radius: 5px;
  box-shadow: 1px 1px 4px 1px #c4c1c1;
  transition: opacity 0.3s, box-shadow 0.2s;
}

.dashboard-grid-list
{
  width: 40%;
  margin-left: 25%;
  margin: auto;
  margin-top: 15px;
}

.dashboard-grid-list-Orders
{
  width: 80%;
  margin-left: 25%;
  margin: auto;
  margin-top: 25px;
}

.column-1 {
  float: left;
  width: 20%;
  padding: 5px;
  height: 130px; /* Should be removed. Only for demonstration */
}

.column-2 {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 130px; /* Should be removed. Only for demonstration */
}

.column-3 {
  float: left;
  width: 33.33%;
  padding: 10px;
  margin-left: 20px;
  height: 130px; /* Should be removed. Only for demonstration */
}

.column-4 {
  float: left;
  width: 33.33%;
  padding: 10px;
  margin-left: '50px';
  height: 130px; /* Should be removed. Only for demonstration */
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.center{
  position: absolute;
  top: 40%;
  left: 50%;
  /* border: 1px solid black; */
  text-align: center;
  transform: translate(-50%);
}

/* Table */

.card{

  height: 80vh;
  margin: 25px;
  font-weight: bold;
  padding: 25px;
}

table {
  width: 100%;
  margin-top: 20px;
}

.w-25{
  width: 25%;
}

.card-table{
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: none;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  margin-top: 30px;
}

th.mat-header-cell {
  font-weight: 700;
  font-size: 13px;
  background-color: rgb(220, 217, 217);
}

.search-box{
 padding: 5px;
}

.unit {
  position: absolute;
  display: block;
  left: 5px;
  top: 10px;
  margin-top: 18px;
  margin-left: 400px !important;
  z-index: 12;
}

.input-box {
  position: relative;
  margin-top: 20px;
  padding: 20px;
}


input {
  display: block;
  border: 1px solid #d7d6d6;
  background: #fff;
  padding: 10px 10px 10px 20px;
  border-radius: 20px;
  width: 30%;
  outline: none;
  box-shadow: 5px 5px 5px darkgrey;
  text-align: left;
}
