<app-main-header></app-main-header>
<mat-grid-list class="dashboard-grid-list" cols="2" gutterSize="10px"  rowHeight="100px">
  <mat-grid-tile matRipple fxLAyoutAlign="start stretch" class="dashboard-tile colorful-tile g1" fxLayout="row" >
    <div fxLayout="column" fxLayoutAlign="start center">
      <mat-icon>list_alt</mat-icon>
    </div>&nbsp; &nbsp;
    <div fxLayoutAlign="start">
      <b>My Orders</b>
    </div>
  </mat-grid-tile>

  <mat-grid-tile matRipple class="dashboard-tile colorful-tile g2" fxLAyoutAlign="start stretch"  fxLayout="row">

    <div class="ml-10" fxLayout="column" fxLayoutAlign="start center">
      <mat-icon>favorite</mat-icon>
    </div>&nbsp; &nbsp;

    <div fxLayoutAlign="start">
     <b>My WishList</b>
    </div>
  </mat-grid-tile>
</mat-grid-list>


<mat-grid-list class="dashboard-grid-list-Orders" cols="1" gutterSize="20px" rowHeight="150px">
<mat-grid-tile style="background-color: aquamarine;">
One
</mat-grid-tile>

<mat-grid-tile style="background-color: aquamarine;">
  One
  </mat-grid-tile>

  <mat-grid-tile style="background-color: aquamarine;">
    One
  </mat-grid-tile>



</mat-grid-list>

<app-footer></app-footer>
