<div class="page-not-found">
  <div class="page-not-found top42">
    <span class="text-bold text-size font-size-14">{{'404' | translate}}.</span>&nbsp;
    <span class="font-size-16">{{'THATS_AN_ERROR' | translate}}</span>
  </div>
  </div>


  <div class="page-not-found font-size-18 top50">
   {{'REQUEST_URL_NOT_FOUND' | translate}}
  </div>

  <div *ngIf="status" class="d-flex justify-content-center set">
    <div class="spinner-border" role="status"></div>
  </div>

  <div class="btn-raised">
   <button  mat-raised-button color="primary" (click)="refreshPage()">{{'REFRESH' | translate}}</button>
  </div>

  <div class="status">
    Status :
    <span [ngClass]="{
      'text-success': this.textData === 'Connected with Internet',
      'text-danger': this.textData === 'No Internet Connection'}">
      {{textData}}
    </span>
  </div>


  <div class="page-not-found top82">
  <img src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Angular_full_color_logo.svg"
  style="width: 60px; height: 60px;" alt="source_Img">
  </div>
