<div class="heading">
  <span class="heading-main">Are You Sure To Confirm the Payment ?</span>

  <div class="heading-main-class">
    <span class="heading-main-class-text"><b>Note :</b>
      You can't Go Back if you  click to continue !!! </span>
      <div class="read-more">
        <p> Read more...</p>
      </div>
    </div>
  </div>

  <span class="btn">
    <mat-chip-list>
        <mat-chip color="warn" (click)="onCancel()" selected >Cancel</mat-chip>
        <mat-chip color="primary" (click)="onClick(this.dataCheck)" selected> Click To Continue</mat-chip>
    </mat-chip-list>
  </span>
