<div class="heading">
  <span class="heading-main">Are You Sure To Confirm the Payment ?</span>

  <div class="heading-main-class">
    <span class="heading-main-class-text"><b>Note :</b>
      You can't Go Back if you  click to continue !!! </span>
      <div class="read-more">
        <p> Read more...</p>
      </div>
    </div>
  </div>

    <span class="btn">
      <button  class="btn btn-danger"  (click)="onCancel()"> Cancel </button> &nbsp;
      <button  class="btn btn-primary" (click)="onClick(this.dataCheck)"> Click To Continue</button>
    </span>
