
<div class="row">
  <div class="column">
    <div class="card" >
      <img src="../../assets/images/mobilephone.jpeg">
      <p style="font-weight: 500; margin-top: 25px;">Top Mobile Products</p>
      <a routerLink="/mobilePage" routerLinkActive="active" style="text-decoration: none;">Click Here -></a>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../../assets/images/book4.jpeg">
      <p style="font-weight: 500; margin-top: 25px;">Top Selling Books </p>
      <a href="" style="text-decoration: none;">Click Here -></a>
    </div>
  </div>

  <div class="column">
    <div class="card" (click)="goToClothPage()">
      <img src="../../assets/images/clothes.jpg">
      <p style="font-weight: 500; margin-top: 25px;">Top Brand Clothes</p>
      <a routerLink="/mobilePage" routerLinkActive="active" style="text-decoration: none;">Click Here -></a>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../../assets/images/appliances.jpg">
      <p style="font-weight: 500; margin-top: 25px;">Top Appliances Product </p>
      <a href="" style="text-decoration: none;">Click Here -></a>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../../assets/images/toys.jpg">
      <p style="font-weight: 500; margin-top: 25px;">Top Toys and Gift </p>
      <a href="" style="text-decoration: none;">Click Here -></a>
    </div>
  </div>
</div>
