.card{
  height: 160vh;
  margin: 25px;
  border: 1px solid black;
  padding: 25px;
  border-radius: 2px;
}

.checkBoxedMale input[type="radio"]{
  margin-right:20px;
}

textarea {
  resize: none;
  text-decoration: dashed;
}
