
<div>
  <h1>Please Fill Your Details To Proceed</h1>
</div>
<mat-divider></mat-divider>

<form class="form-group" [formGroup]="profileForm" (ngSubmit)="onSubmit()">

  <div class="form-group-class">
    <mat-form-field  class="w-100" formLabel="auto" hideRequiredMarker>
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="name" placeholder="Enter your name">
    </mat-form-field>
    <ng-container *ngIf="profileForm.controls['name'].invalid && profileForm.controls['name'].touched" >
      <div class="errorText">*Username is required </div>
    </ng-container>
    <br>
    <!-- <mat-icon tabindex="-1" class="float-right hand-icon" matRipple>close</mat-icon> -->

    <mat-form-field class="w-100" formLabel="auto" hideRequiredMarker>
      <mat-label>Email</mat-label>
      <input matInput type="text" formControlName="email" email placeholder="Enter your email">
    </mat-form-field>
    <ng-container *ngIf="profileForm.controls['email'].invalid && profileForm.controls['email'].touched" >
      <div class="errorText">*Email is required</div>
    </ng-container>
     <br>

    <mat-form-field class="w-100" formLabel="auto" hideRequiredMarker>
      <mat-label>Phone Number</mat-label>
      <input matInput type="text" formControlName="phoneNumber" (keypress)="keyPressNumbers($event)"
      minlength=10 placeholder="Enter PhoneNo"
    name="phoneNo" required>
    </mat-form-field>
    <ng-container *ngIf="profileForm.controls['phoneNumber'].invalid && profileForm.controls['phoneNumber'].touched" >
      <div class="errorText">*Phone number is required </div>
    </ng-container>
    <ng-container *ngIf="minLength <10">
    <div class="errorText">*Mobile Number Length should not be less than 10</div>
    </ng-container>
    <br>

    <mat-form-field class="w-100" formLabel="auto" hideRequiredMarker>
      <mat-label>Address</mat-label>
      <input matInput type="text" formControlName="address" placeholder="Enter your address" name="address" required>
    </mat-form-field>
    <ng-container *ngIf="profileForm.controls['address'].invalid && profileForm.controls['address'].touched" >
      <div class="errorText">*Address is required </div>
    </ng-container>
    <br>

    <mat-form-field class="w-100" formLabel="auto" hideRequiredMarker>
      <mat-label>Location</mat-label>
      <input matInput type="text" formControlName="location" placeholder="Enter your location" required>
    </mat-form-field>
    <ng-container *ngIf="profileForm.controls['location'].invalid && profileForm.controls['location'].touched" >
      <div class="errorText">*Location is required</div>
    </ng-container>
    <br>

    <mat-form-field class="w-100" formLabel="auto" hideRequiredMarker>
      <mat-label>City</mat-label>
      <input matInput type="text" formControlName="city" placeholder="Enter your city" required>
    </mat-form-field>
    <ng-container *ngIf="profileForm.controls['city'].invalid && profileForm.controls['city'].touched" >
      <div class="errorText">*City is required</div>
    </ng-container>
    <br>

    <mat-form-field class="w-100" formLabel="auto" hideRequiredMarker>
      <mat-label>Date</mat-label>
      <input matInput [(ngModel)]="currentDate" formControlName="date" id="date" type="date" required>
    </mat-form-field>
    <ng-container *ngIf="profileForm.controls['date'].invalid && profileForm.controls['date'].touched" >
      <div class="errorText">*Date is required</div>
    </ng-container>
    <br>

    <mat-form-field class="w-100" formLabel="auto" hideRequiredMarker>
      <mat-label>State</mat-label>
      <input matInput [matAutocomplete]="auto" type="text" [(ngModel)]="states" (ngModelChange)="onKeyUp(states)"
       formControlName="state" placeholder="Enter your state" required>
    </mat-form-field>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option [value]="item" *ngFor="let item of myState | filter: states" (click)="onClick(item)">
        {{item}}
      </mat-option>
    </mat-autocomplete>
    <ng-container *ngIf="profileForm.controls['state'].invalid && profileForm.controls['state'].touched" >
      <div class="errorText">*State is required</div>
    </ng-container>
    <br>

    <mat-form-field class="w-100" formLabel="auto" hideRequiredMarker>
      <mat-label>Payment</mat-label>
      <mat-select panelClass="my-panel"  [(ngModel)]="defaultValuePayment">
        <mat-option [value]="option" *ngFor="let option of selectedPayment" (change)="onSelectedPayment(option)">
          {{option}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <ng-container *ngIf="profileForm.controls['payment'].invalid && profileForm.controls['payment'].touched" >
      <div class="errorText">*Payment mode is required</div>
    </ng-container>

    <br> <br>
    <button type="submit" class="btn btn-primary" (click)="onPayment()" [disabled]="!profileForm.valid">Submit</button> &nbsp;
    <button type="button" class="btn btn-danger"  (click)="onCancel()">Cancel</button>

  </div>
</form>
