<nav class="navbar navbar-light" style="background-color: rgb(215, 221, 221);">
  <div class="container-fluid">

    <mat-toolbar color="primary" class="example-toolbar">
      <button mat-icon-button class="mat-toolbar-btn"  (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
      <mat-sidenav-container  (backdropClick)="close('backdrop')" class="example-sidenav-container">
        <mat-sidenav #sidenav disableClose class="mat-sidenav-overlay">
          <app-my-account></app-my-account>
        </mat-sidenav>
      </mat-sidenav-container>
    </mat-toolbar>
    <!-- <button mat-icon-button (click)="opened=!opened" #sidenav style="margin-left: 20px;
      padding: 0; height: auto;">
      <mat-icon>menu</mat-icon>
      <mat-sidenav-container (backdropClick)="close('backdrop')">
        <mat-sidenav class="example-sidenav-container" #sidenav [(opened)]="opened">
          <app-my-account></app-my-account>
        </mat-sidenav>
      </mat-sidenav-container>
    </button>&nbsp; -->

    <img class="float-img pointer" src="../../assets/./images/shopifyApp.png">&nbsp;&nbsp;
    <span class="shopifyApp mr-1rem">Shopify App</span>
    <div class="search-bar">
      <input type="text" class="searchText" placeholder="Search..."name="search" [(ngModel)]="searchText">
    </div>
    <span style="margin-top: 8px; margin-left: 70px;">
      <mat-icon class="search-pos ml-10">search</mat-icon>
    </span>

    <div class="notify" matTooltip="Notification" (click)="notification()">
      <mat-icon>notifications_none</mat-icon>
    </div>

     <span style="margin-top: 10px; margin-left: 460px; font-size: medium;">More</span>
      <span style="margin-top: 8px">
        <!-- <mat-icon>expand_more</mat-icon> -->
        <mat-select panelClass="my-panel" class="select-dropDown">
          <mat-option  [value]="option" *ngFor="let option of items" (click)="openComponent(option)">
            {{option}}
          </mat-option>
        </mat-select>
      </span>


    <span class="material-symbols-outlined">
      </span>

    <span class="icon-cart">
      <mat-icon class="material-symbols-outlined">shopping_cart</mat-icon>
    </span>
    <span  class="cart" matTooltip="Cart" (click)="showNotify()"
      routerLinkActive="active" routerLink="/addToCart">Cart
    </span>
    <div class="badge bg-danger align-badge" matBadgeColor="accent">{{totalItem}}</div>
    <mat-button class="logout-btn" (click)="logout()"  matTooltipShowDelay="50" matTooltip="Logout">Logout</mat-button>
    <mat-icon class="mat-icon-logout">power_settings_new</mat-icon>
  </div>
</nav>
