<mat-toolbar class="nav header-bg" fxLayout="row" fxLayoutAlign="space-between center">
  <div fxLayout="row" fxLayoutAlign="space-between center">
   <button mat-icon-button (click)="drawer.toggle()">
     <mat-icon>menu</mat-icon>
    <mat-sidenav-container  (backdropClick)="close('backdrop')" class="example-sidenav-container">
      <mat-sidenav mode="push" #drawer disableClose class="mat-sidenav-overlay">
        <app-my-account [firstName]="firstName"></app-my-account>
      </mat-sidenav>
    </mat-sidenav-container>
  </button>
   <img (click)="redirectMainPage()" class="float-img pointer" matTooltip="Main Dashboard" style="width: 40px; height:40px;"
   src="../../assets/./images/shopifyApp.png">&nbsp;
   <span class="shopifyApp mr-1rem">{{'SHOPIFY_APP' | translate}}</span>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <!-- <mat-icon class="lang-select head-icn-align">language</mat-icon> -->
    <mat-icon class="lang-select" style="margin-top: -10px;">language</mat-icon>
    <span class="ml-5" style="font-size: 14px;">
      <span class="lang-default" *ngIf="getSelectedDefaultOption(selectedOption)">{{selectedOption}}</span>
        <mat-form-field>
          <mat-select class="lang-dropdown" style="font-size: 14px;" disableOptionCentering  panelClass="myPanelClass" [(ngModel)]="selectedOption">
            <mat-option  style="font-size: 14px;" (click)="changeLanguage(lang.value)" *ngFor="let lang of langService.languages" [value]="lang.value">
              {{ lang.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
<!--
      <select class="outline-dropDown-btn header-bg" [(ngModel)]="selectLang"(change)="onChange($event)">
        <option style="color: black;" [value]="lang.viewValue" *ngFor="let lang of languages" >
          {{lang.viewValue}}
        </option>
      </select> -->
    </span>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <button class="pointer notify" fxLayoutAlign="space-between center" matTooltip="Notification" (click)="notification()">
      <mat-icon>notifications_none</mat-icon>
    </button>

    <button class="cart ml-50" fxLayoutAlign="space-between center">
      <mat-icon style="height: 20px; width: 20px;">shopping_cart</mat-icon>
    </button>

    <span style="font-size:18px; margin-top: 5px;" fxLayoutAlign="center" class=" cart pointer" matTooltip="Cart"
    (click)="showNotify()" routerLinkActive="active"
      routerLink="/addToCart">{{'CART' | translate}}
    </span> &nbsp;
    <span class="badge bg-danger mb-20 pointer" style="font-size: 12px" *ngIf="(totalItem > 0)" matBadgeColor="accent">{{totalItem}}</span>
  </div>

  <!-- fxHide.lt-md="true" -->
  <div fxLayout="row">
    <span class="res-circle" [matMenuTriggerFor]="menu" style="margin-right: 50px; font-size: 14px;">{{loginUserName}}</span>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout()">Logout
        <mat-icon matSuffix class="ml-10">logout</mat-icon>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>

 <!-- <span style="margin-top: 10px; margin-left: 500px; font-size: medium;">{{'MORE' | translate}}</span>
  <span class="mt-8">
    <mat-icon>expand_more</mat-icon>
      <mat-select panelClass="select-dropDown">
        <mat-option  [value]="option" *ngFor="let option of items" (click)="openComponent(option)">
          {{option}}
        </mat-option>
      </mat-select>
  </span> -->
