.container-fluid
{
  margin-top: 10px;
  justify-content: left;
  display: flex;
  padding: 10px;
  border-bottom: black;
  align-items:flex-start
}

.mat-toolbar-btn
{
  margin-left: 25px;
}

.float-img
{
  font: right;
  margin-left: 15px;
  width: 40px;
}

.align-badge
{
  position: absolute;
  margin-left: 1260px;
}

.search-bar
{
  margin-left: 250px;
  margin-top: 6px;
  max-width: 100%;
  color: white;
  font-size: 17px;
  border-left: none;
  cursor: pointer;
}

.searchText
{
  margin-left: 200px;
  width: 250px;
}

.notify
{
  cursor: pointer;
  margin-top: 8px;
  height: 20px;
  position: absolute;
  size: 20px;
  margin-left: 1075px;
}
.notify:hover{
  transform: scale(1.05);
}


.icon-whishList {
  padding-right: 25px;
  /* background: url("../../../assets/images/outline_favorite_black_24dp.png") no-repeat left; */
  background-size: 20px;

}
.icon-setting
{
  padding-right: 25px;
  /* background: url("../../../assets/images/outline_settings_black_24dp.png") no-repeat left; */
  background-size: 20px;

}
.icon-about
{
  padding-right: 25px;
  /* background: url("../../../assets/images/outline_info_black_24dp.png") no-repeat left; */
  background-size: 20px;
}
.cart
{
  font-size: large;
  position: absolute;
  margin-left: 1220px;
  cursor: pointer;
  margin-top: 7px !important;
  /* background: url("../../../assets/images/outline_shopping_cart_black_24dp.png") no-repeat left; */
  /* background-size: 20px; */
}

.icon-cart
{
  margin-top: 5px;
  cursor: pointer;
  margin-left: 250px;
}


.cart:hover{
  transform: scale(1.10);
}

.icon-cart-text{
  position: relative;
  margin-left: 20px;
  font-size: 18px;
  margin-top: 6px;
}
.logout-btn{

  position: absolute;
  margin-left: 1350px;
  font-size: larger;
  background-color: none;
  margin-top: 7px;

}
.logout-btn:hover{
  cursor: pointer;
  transform: scale(1.05);
}

.mat-icon-logout
{
  position: absolute;
  margin-left: 1405px;
  margin-top: 5px;
}

.mat-icon-logout:hover
{
  cursor: pointer;
}

.mat-sidenav-overlay
{
  /* background-color: rgb(238, 236, 236); */
  margin-top: 20px;
}

mat-sidenav-container
{
  height: 100%;
  margin-top: 5px;
  /* background-color: rgb(238, 236, 236); */
  overflow: visible;
}
mat-sidenav, mat-sidenav-content{

  /* background-color: lightcoral; */
  margin-top: 5px;
  overflow: visible;
}

mat-sidenav{
  width: 300px;
  margin-top: 5px;
  height: 900px;
  /* background-color: rgb(238, 236, 236); */
}

::ng-deep .mat-tooltip {
  position: relative;
  top:2px;
}

.shopifyApp{

  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;

  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
  margin-bottom: 0px !important;
}

.example-toolbar
{
  /* background-color: rgb(238, 236, 236); */
}












/* DropDown */
/* .dropbtn {
  background-color: #4CAF50;
  color: black;
  padding: 14px;
  position: fixed;
  margin-left: 300px;
  background: none;
  border: none;
}

.dropdown {
  position: fixed;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: relative;
  background-color: #fff;
  width: 160px;
  left: 70%;
  box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 10px 12px;
  text-decoration: none;
  display: flex;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
} */

/* For Arrow */
/* .arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  margin-bottom: 5px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
} */


