.search-pos
{
  display: inline-block;
  position: absolute;
  color: black;
  margin-left: 10px;
}

.ql-editor{
  height: 200px !important;
}

.ql-toolbar.ql-snow + .ql-container.ql-snow {
  height: 50% !important;
}

.spinner{
  display: inline;
  top: 40%;
  left: 47%;
}

.select-dropDown{
  margin-top: 45px;
}
