.grey-color{
  color: grey;
}

.blue-color{
  color: blue;
}

.bg-sky{
  background-color: aqua;
}

.bg-pink{
  background-color: rgb(190, 145, 241);
}

.header-bg{
  background-color: rgb(215, 221, 221) !important;
}