.ml-5
{
 margin-left: 5px;
}

.mt-5{
  margin-top: 5px !important;
}

.mr-1rem
{
  margin-right: 1rem;
}

.ml-5{
  margin-left: 5px !important;
}

.mt-20{
  margin-top: 20px;
}

.ml-50{
  margin-left: 100px;
}

.mb-20{
  margin-bottom: 20px !important;
}

.ml-10
{
  margin-left: 10px;
}

.mt-3
{
  margin-top: 3px;
}

.ml-20
{
  margin-left: 20px;
}

.mt-8{
  margin-top: 8px !important;
}

.ml-1245{
  margin-left: 1245px !important ;
}

.ml-1285{
  margin-left: 1285px !important;
}

.ml-70{
  margin-left: 70px !important;
}
