<app-main-header></app-main-header>
<div class="heading">
  <div class="heading-main">
    <h1> Get Your Favorite Products In One Click</h1>
  </div>
</div>
<br>
<app-card-layout-product></app-card-layout-product>
<br>
<div class="heading">
<div class="heading-main">
  <h1 >Our Mission </h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam delectus rerum voluptas nesciunt similique eaque illum voluptate dicta doloremque, nobis perferendis cum unde saepe, tempore asperiores enim in eligendi est.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error cumque doloremque sequi deserunt reiciendis dignissimos, magnam non omnis molestias minus officiis facere delectus temporibus mollitia hic. Illo totam quia perspiciatis.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis modi dolore nam enim? At inventore, tenetur vitae nobis harum tempore saepe vero iure, quibusdam ipsam ratione, placeat sed fugiat qui?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro mollitia aut est accusamus libero, iusto necessitatibus, quis dolores fugit quos laboriosam nobis atque dolor fugiat, non perspiciatis enim praesentium quibusdam.
  </p>
</div>
</div>
<app-footer></app-footer>
