<app-main-header></app-main-header>
<div class="heading">
  <div class="heading-main">
    <h1> Get Your Favorite Products In One Click</h1>
  </div>
</div>
<br>
<app-card-layout-product></app-card-layout-product>

<div style="margin-top: 300px;">
  <div class="card" style="margin-top: 50px;">
    <div class="container">
      <h1 style="justify-content: center; align-items: center; display: flex;">Our Mission</h1>
      <p style="margin-top: 20px;">
        E-commerce is revolutionizing the way we all shop in India. Why do you want to hop from one store to another in search of the latest phone when you can find it on the Internet in a single click ? Not only
        mobiles. Flipkart houses everything you can possibly imagine, from trending electronics like laptops, tablets, smartphones, and mobile accessories to in-vogue fashion staples like shoes, clothing and lifestyle
        accessories; from modern furniture like sofa sets, dining tables, and wardrobes to appliances that make your life easy like washing machines, TVs, ACs, mixer grinder juicers and other time-saving kitchen and
        small appliances; from home furnishings like cushion covers, mattresses and bedsheets to toys and musical instruments, we got them allcovered. You name it, and you can stay assured about finding them all here. For those of you with erratic working hours, Flipkart is your best bet. Shop in your PJs, at night or in the wee hours of the morning.
        This e-commerce never shuts down.
        <!-- Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque ratione, reiciendis deleniti ut ipsa cumque repudiandae suscipit vitae sit, culpa vel commodi libero itaque, illum doloremque quisquam laboriosam tempore similique? -->
      </p>
    </div>
    <div style="margin-top: 20px;">
      <div class="row">
        <div class="column" *ngFor="let item of content">
          <div><mat-icon [inline]="true" style="margin-left: 10px;">{{item.icon}}</mat-icon></div>
          <h3 style="margin-top: 10px; font-size: large;"> <b>{{item.text}}</b></h3>
          <p> {{item.value}}</p>
        </div>
    </div>
    </div>
  </div>
</div>


 <div style="margin-top: 50px; margin-left: 50px; margin-right: 30px;  width: 1400px;">
   <mat-divider></mat-divider>
     <div style="margin-top: 30px; width: max-content; height: max-content; margin-left: 50px;" >
      <span style="margin-left: 80px;" *ngFor="let icon of iconsList">
        <img src={{icon.src}}>
      </span>
    </div>
   <br>
   <mat-divider></mat-divider>
 </div>

    <div class="container-faq">
      <h4><b style="font-size: x-large; ">FAQ's</b></h4>
    </div>

  <div style="margin-left: 20%; width: 920px">
    <mat-accordion>
      <mat-expansion-panel autoFocus class="accordion-style"
      *ngFor="let item of faqList">
        <mat-expansion-panel-header collapsedHeight="*" expandedHeight="*">
         <div class="w-100" fxLayout="row" fxLayoutAlign="space-between start"
          fxLayout.lt-md="column">
            <mat-panel-title fxFlex="1160%" fxFlex="11100%"
            fxLayout="row" fxLayoutAlign="start center">
            <!-- <mat-checkbox checked="checked" disabled></mat-checkbox> -->
            <div style="margin-left: 10px">
              {{item.key}}
            </div>
            </mat-panel-title>
            <mat-panel-description fxFlex="11140%" fxFlex="11100%">
             <!-- <mat-icon matSuffix class="pointer"[inline]="true">add</mat-icon> -->
            </mat-panel-description>
          </div>
        </mat-expansion-panel-header>
        <mat-divider></mat-divider>
        <p style="margin-left:10px; margin-top: 15px;">{{item.value}}</p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  
<app-footer></app-footer>
