<app-main-header></app-main-header>

<div class="row">
  <div class="column">
    <div class="card">
      <div>
        <h3 style="color: grey;">{{brandItem}}</h3>
        <h2 style="font-weight: 700;">Men Regular Fit Solid Mandarin Collar Casual Shirt</h2>
        <h1 style="margin-top: 10px;" >{{3000  | currency: 'Rs '}}</h1>
        <p> Rating is {{' 4 '}}</p>
      </div>

    </div>
  </div>

  <div class="column">
    <div class="card">
    <img src="../../assets/ImageCloth/images (4).jpg" style="border: 1px solid black; border-radius: 5px; height: 500px;" alt=""><br>
    <button class="btn btn-primary">Add To Cart</button> &nbsp;
    <button class="btn btn-danger">Remove</button>
    </div>
  </div>
</div>
