<div class="main-header">
  <img src="../../assets/images/shopifyApp.png" alt="Avatar" class="avatar"><span class="heading" style="color: seagreen;">
    Shopify <span style="color: orange">App</span></span>
</div>
<!--
<div class="alert alert-danger">
<p>{{error}}</p>
</div> -->
<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
  <div class="container">
    <div class="alert alert-danger" *ngIf="isAuthorize">
      <p>{{error}}</p>
    </div>
    <h1 style="font-weight: 500;">Sign Up</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>

    <label for="name"><b>Name</b></label>
    <input type="text" [(ngModel)]="customer.name" placeholder="Enter Name"  #name="ngModel"  name="name" required>
    <div *ngIf="!name.valid && name.touched" class="errorText">*Name is required</div>

    <label for="email"><b>Email</b></label>
    <input type="text"  email placeholder="Enter Email" #email="ngModel"  [(ngModel)]="customer.email" name="email" required>
    <div *ngIf="!email.valid && email.touched" class="errorText">*Email is required</div>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" appPasswordPattern #password="ngModel" minlength="8" [(ngModel)]="customer.password" name="password" required>
    <div *ngIf="!password.valid && (password.touched && !password.dirty)" class="errorText">*Password is required</div>
    <div class="errorText" *ngIf="!password.valid && (password.touched && password.dirty)">
      *Password should have minimum 8 characters</div>

    <label for="phone"><b>Phone Number</b></label>
    <input type="text" (keypress)="keyPressNumbers($event)"  minlength=10 [pattern]="mobNumberPattern" placeholder="Enter PhoneNo" #phoneNo="ngModel" [(ngModel)]="customer.phoneNumber" name="phoneNo" required>
    <div class="errorText" *ngIf="!phoneNo.valid && (phoneNo.touched && !phoneNo.dirty)">*PhoneNumber is required</div>
    <div class="errorText" *ngIf="phoneNo.errors && (phoneNo.touched && phoneNo.dirty)"> *Phone Number must be than 10 digit</div>
    <label>

    <!-- checked = checked to automatic check the box  -->
    <input type="checkbox" checked="checked"  name="remember" style="margin-bottom:15px"> Remember me
    </label>

    <div class="clearfix">
      <button type="submit" class="btn btn-primary"  (click)="onSignUp()"  [disabled]="!loginForm.valid">Sign Up</button> &nbsp;
      <button type="button" class="btn btn-danger" (click)="onReset(loginForm)" >Reset</button>
    </div>
  </div>
</form>

<ng-template #secondDialog>
<div>

  <h2 matDialogTitle>One Step To Move Forward ! </h2>
  <input type="checkbox"  checked="checked" (change)="checkboxChanged()" name="checkbox" ngModel #checked="ngModel" required>  By creating an account you agree to our
  <a href="#" style="color:dodgerblue">Terms & Privacy</a>.
  <div  class="errorText" style="margin-left: 12px;" *ngIf="!isCheckBoxSelected">*Please check the box </div>
  <mat-dialog-actions align="end">

    <button class="btn btn-danger" matDialogClose >Dismiss</button> &nbsp; &nbsp;
    <button class="btn btn-success" [disabled]="!isCheckBoxSelected"  (click)="onSubmitLoginPage()">Submit</button>

  </mat-dialog-actions>
</div>
</ng-template>

  <app-footer></app-footer>
