.slider
{
  width: 840px;
  height: 500px;
  text-align:center;
  padding: 10px;
  margin-left:300px;
  margin-top: 30px;
  margin-right: 300px !important;
}

/* Card */

.card {
  width: 100%;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  height: 14%;
}

.custom-card
{
  width: 100%;
  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  height: 31%;
}


.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}
.container-card
{
  padding: 20px;
  width: max-content;
  height: max-content;
}

.icon-size{
  width: 40px;
  height: 40px;
}

.icon-size:hover{
  transform: scale(1.10);
  transition: .4s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

.img-style{
  padding: 2px;
  border-radius: 5px;
  /* border: 3px solid black */
}

.textImg-position{
  word-break:break-all;
  width: 60px;
  height: 50px;
  margin-top: 10px;
}

/* .content div{
  position: absolute;
  bottom: 0;
  right: 0;
  background: black;
  color: white;
  margin-bottom: 5px;
  font-family: sans-serif;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear;
  transition: visibility 0s, opacity 0.5s linear;
 } */


 .column {
  width: 20%;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 100px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
