<!-- <p>my-account works!</p> -->
<div class="card">
  <img src="../../assets/Icons/user.png" alt="Avatar" style="width:100px; height: 100px;">
  <div class="card-item"    >
    <h3>Hello, {{name}}</h3>
    <mat-divider [inset]="true"></mat-divider>
  </div>
</div>

<div class="card-layout-design"  matTooltip="My Profile">
  <div class="card-layout-design-text" (click)="onProfileData()">
  <span class="material-icons common">person</span>
    My Profile
  <span class="material-icons">arrow_right</span>
  </div>
  <mat-divider></mat-divider>
</div>

<div class="card-layout-design" matTooltip="My Orders">
  <div class="card-layout-design-text" >
    <span class="material-icons common">airport_shuttle</span>
    My Orders
  <span class="material-icons">arrow_right </span>
  </div>
  <mat-divider></mat-divider>
</div>

<div class="card-layout-design" >
   <div class="card-layout-design-text" matTooltip="My Wallet">
    <span  class="material-icons common">account_balance_wallet</span>
    My Wallet
    <span class="material-icons">arrow_right </span>
   </div>
  <mat-divider></mat-divider>
</div>

