<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <img class="float-img" src="../../assets/./images/shopifyApp.png">&nbsp; &nbsp;
    <span  style="margin-top: 5px;" class="navbar-brand mb-0 h1">Shopify App</span>
    <div class="search-bar">
      <input type="text" class="searchText" placeholder="Search..." name="search">
      <i style="color: black; margin-left: 10px;" class="fa fa-search icon"></i>
    </div>

    <div class="dropdown">
      <button class="dropbtn">More</button><i class="arrow down"></i>
      <div class="dropdown-content">
      <a class="icon-whishList" href="#"> <p style="margin-top: 10px; margin-left: 20px;"> WishList </p></a>
      <a class="icon-setting"   href="#"> <p style="margin-top: 10px; margin-left: 20px;"> Setting  </p></a>
      <a class="icon-about"     href="#"> <p style="margin-top: 10px; margin-left: 20px;"> About  </p></a>
      </div>
    </div>
   <div style="margin-top: 5px; margin-left: 500px;" class="icon-cart"><p style="margin-left: 25px; font-size: large; margin-top: 6px; "> Cart</p></div>

  </div>
</nav>
