<div class="main-header">
  <img src="../../assets/images/shopifyApp.png" alt="Avatar" class="avatar">
  <span class="heading" style="color: seagreen;">
    Shopify
    <span style="color: orange">App</span>
    <span style="margin-left: 200px; color:blue; cursor: pointer;" (click)="back()">
      <mat-icon matSuffix>arrow_back</mat-icon>
    </span>
  </span>
</div>
<br>
<mat-divider></mat-divider>

<form [formGroup]="register" (ngSubmit)="onSubmit()">
  <div class="container">
    <h1 style="font-weight: 500;">Sign Up</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>

  <div class="form-group">
    <div class=form-group-class>

    <mat-form-field appearance="outline" class="w-70" formLabel="auto" hideRequiredMarker>
      <input matInput  autocomplete="off"  formControlName="name"  [errorStateMatcher]="customErrorStateMatcher" placeholder="Enter Name" required>
      <mat-label>Name</mat-label>
      <mat-icon matSuffix>person</mat-icon>

      <mat-error style="font-size: small; margin-top: 2px;"  *ngIf="getFormControlName('name').hasError('required')" [innerHTML]="getErrorMessage('name', 'required')">
      </mat-error>
      <mat-error style="font-size: small; margin-top: 2px;"  *ngIf="getFormControlName('name').hasError('maxlength')" [innerHTML]="getErrorMessage('name', 'maxlength')">
      </mat-error>
    </mat-form-field>
    <br>

    <mat-form-field appearance="outline" class="w-70" formLabel="auto" hideRequiredMarker>
      <input matInput  autocomplete="off" formControlName="email"   [errorStateMatcher]="customErrorStateMatcher" placeholder="Enter Email" name="email" required>
        <mat-label>Email</mat-label>
        <mat-icon matSuffix>email</mat-icon>

      <mat-error style="font-size: small; margin-top: 2px;" *ngIf="getFormControlName('email').hasError('required')" [innerHTML]="getErrorMessage('email', 'required')">
        </mat-error>
      <mat-error style="font-size: small; margin-top: 2px;" *ngIf="getFormControlName('email').hasError('email')" [innerHTML]="getErrorMessage('email', 'email')">
        </mat-error>
      </mat-form-field>
      <br>

    <mat-form-field appearance="outline" class="w-70" formLabel="auto" hideRequiredMarker>
      <input matInput autocomplete="off" formControlName="password"  [errorStateMatcher]="customErrorStateMatcher"  placeholder="Enter Password" appPasswordPattern password name="password" required>
        <mat-label>Password</mat-label>
        <mat-icon matSuffix>password</mat-icon>
        <mat-hint align="end">Password must be strong</mat-hint>
      <mat-error style="font-size: small; margin-top: 2px;" *ngIf="getFormControlName('password').hasError('required')" [innerHTML]="getErrorMessage('password', 'required')">
      </mat-error>
      <mat-error style="font-size: small; margin-top: 2px;" *ngIf="getFormControlName('password').hasError('minlength')" [innerHTML]="getErrorMessage('password', 'minlength')">
      </mat-error>
    </mat-form-field>
    <br>

    <mat-form-field appearance="outline" class="w-70" formLabel="auto" hideRequiredMarker>
        <input matInput autocomplete="off" (keypress)="keyPressNumbers($event)"  [errorStateMatcher]="customErrorStateMatcher"  formControlName="phoneNumber"
        minlength=10 [pattern]="mobNumberPattern" placeholder="Enter PhoneNo" name="phoneNo" required>
        <mat-label>Phone Number</mat-label>
        <mat-icon matSuffix>contact_phone</mat-icon>
        <mat-hint align="end">Maximum Length should be 10</mat-hint>

        <mat-error style="font-size: small; margin-top: 2px;" *ngIf="getFormControlName('phoneNumber').hasError('required')" [innerHTML]="getErrorMessage('phoneNumber', 'required')">
        </mat-error>
        <mat-error style="font-size: small; margin-top: 2px;" *ngIf="getFormControlName('phoneNumber').hasError('minlength')" [innerHTML]="getErrorMessage('phoneNumber', 'minlength')">
        </mat-error>
        <mat-error style="font-size: small; margin-top: 2px;" *ngIf="getFormControlName('phoneNumber').hasError('maxlength')" [innerHTML]="getErrorMessage('phoneNumber', 'maxlength')">
        </mat-error>
    </mat-form-field>
    <br>

    <label>
      <input type="checkbox" checked="checked"  name="remember" style="margin-bottom:15px"> Remember me
    </label>

    <div class="clearfix">
      <mat-chip-list>
        <mat-chip color="primary" type="submit" (click)="onSubmit()" selected>Sign Up</mat-chip>
        <mat-chip color="warn" (click)="onReset(register)" selected >Reset</mat-chip>
      </mat-chip-list>
    </div>
  </div>
  </div>
  </div>
</form>

<ng-template #secondDialog>
<div>

  <h2 matDialogTitle>One Step To Move Forward ! </h2>
  <input type="checkbox"  checked="checked" (change)="checkboxChanged()" name="checkbox" ngModel #checked="ngModel" required>  By creating an account you agree to our
  <a href="#" style="color:dodgerblue">Terms & Privacy</a>.
  <div  class="errorText" style="margin-left: 12px;" *ngIf="!isCheckBoxSelected">*Please check the box </div>
  <mat-dialog-actions align="end">

    <mat-chip-list>
      <mat-chip color="warn" matDialogClose selected>Dismiss</mat-chip>
      <mat-chip color="primary" [disabled]="!isCheckBoxSelected"  (click)="onSubmitLoginPage()" selected >Submit</mat-chip>
    </mat-chip-list>

  </mat-dialog-actions>
</div>
</ng-template>

<!-- <app-footer></app-footer> -->
