
<!-- <div class="row">
  <div class="column">
    <h2 class="heading-font-size">Filter
      <a href="#" style=" text-decoration: none; font-size: medium; margin-left: 150px;">CLEAR ALL</a>
    </h2>
    <hr>
    <p >CATEGORIES</p>
    <div *ngFor="let item of categoryCloth">
      <p style="color: grey;">- {{item}}</p>
    </div>
    <app-footer></app-footer>
    <hr>
    <h2 class="heading-font-size"> Price Distribution </h2>
    <mat-slider aria-label="unit(s)"   [min]="min"   [max]="max"  [(ngModel)]="sliderValue"></mat-slider>
    <span>Min {{sliderValue}}</span><span style="margin-left: 160px; position: absolute">Max {{max}}</span>
    <hr>
    <h2 class="heading-font-size">Brands</h2>
    <input class="Search-Brand" type="text" name="search" [(ngModel)]="searchText" placeholder="Search Brand">
    <i style="color: black; margin-left: 10px;" class="fa fa-search icon"></i>
    <br><br>
    <div *ngFor="let brandList of topBrandClothList  | filter:searchText"  class="padding-5">
      <input type="checkbox">&nbsp;
      <span *ngIf="brandList">
        {{brandList}}
      </span>
    </div>
      <hr>
      <h2 class="heading-font-size"> Customers Rating </h2>
      <div *ngFor="let rating of customerRating" class="padding-5">
        <input type="checkbox">&nbsp;
        {{rating}}
      </div>
    </div>
  </div> -->
