
<div fxLayout="row" fxLayoutAlign="start space-between" fxLayoutGap="20px"
 fxLayout.lt-md="column">
 <mat-card  (click)="goToClothPage(item , i)" fxFlex="1120%" class="card" fxFlex.lt-md="11100%"
  *ngFor="let item of listOfCardsItem; let i = index">
  <mat-card-header></mat-card-header>
  <img src="{{item.src}}" style="width: 245px; height:200px;">
  <mat-card-actions fxLayout="column" fxLayoutAlign="center">
    <span>{{item.title}}</span>
    <span class="mt-5">
      <a routerLinkActive="active" class="clickText">
        {{item.clickItem}}
      </a>
    </span>
  </mat-card-actions>
</mat-card>
</div>
